.dashboard-section {
    max-width: 75vw;
    position: relative;
    left: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.dashboard-section .home {
    width: 70%;
    opacity: 0;
    transform: translateY(200px);
    animation: slide-up 1s ease forwards;
}

.feed-1 {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    padding: 20px 15px 20px 30px;
}

.feeds {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    gap: 0.8rem;
    color: #fff;
}

.feeds img {
    width: 120px;
}

.feeds>div {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-between;
}

.feeds>div span {
    display: block;
}

.feeds>div>div:first-child span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 700;
}

.feeds>div>div:first-child span:nth-child(2) {
    font-size: 1.1rem;
}

.feeds>div>div:last-child span {
    font-size: 3.1rem;
    display: flex;
    padding-left: 5px;
}

.feeds>div>div:last-child span sup {
    position: relative;
    font-size: 1.5rem;
}

.times {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-right: 100px;
}

.times .time-large {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.times .time-small {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.feed {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
}

.feed>div {
    width: 200px;
    height: 100%;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0.7rem;
}

.feed>div div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed>div div:first-child span {
    font-size: 2.6rem;
    font-weight: 500;
    display: flex;
}

.feed>div div:first-child span sup {
    position: relative;
    font-size: 1.5rem;
}

.feed>div div:last-child span {
    display: block;
}

.feed>div div:last-child span:first-child {
    font-weight: 700;
}

.feed>div div:last-child span:last-child {
    color: rgba(0, 0, 0, 0.5);
}

.highlights {
    color: #fff;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    padding: 20px 15px 20px 15px;
}

.highlights h2 {
    padding-left: 0px;
    font-weight: 600;
}

.all-highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 20px;
    color: #000;
}

.all-highlights>div {
    min-width: 240px;
    background: #fff;
    border-radius: 0.8rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-highlights>div:hover {
    transition: 0.3s ease-in;
    transform: translateX(2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.all-highlights>div>div:first-child {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.all-highlights>div>div:first-child img {
    width: 50px;
}

.all-highlights>div>div:first-child span {
    display: block;
}

.all-highlights>div>div:first-child span:first-child {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: normal;
}

.all-highlights>div>div:first-child span:last-child {
    font-size: 0.9rem;
    line-height: normal;
    color: rgba(0, 0, 0, 0.5);
}

.all-highlights>div>div:last-child span {
    display: flex;
    gap: 0.1rem;
    font-size: 1.7rem;
}

.all-highlights>div>div:last-child span sup {
    font-size: 1.1rem;
}

.cities {
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    padding: 20px 15px 20px 15px;
    color: #fff;
    opacity: 0;
    transform: translateX(200px);
    animation: slide-right 1s ease forwards;
    animation-delay: 0.2s;
}

.all-cities {
    margin-top: 20px;
}

.all-cities>div {
    background: #fff;
    color: #000;
    border-radius: 0.8rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.all-cities>div:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.02);
}

.all-cities>div>div:first-child {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.all-cities>div>div:first-child img {
    width: 50px;
}

.all-cities>div>div:first-child span {
    display: block;
}

.all-cities>div>div:first-child span:first-child {
    font-weight: 600;
}

.all-cities>div>div:first-child span:last-child {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.all-cities>div>div:last-child span {
    display: flex;
    gap: 0.1rem;
    font-size: 1.7rem;
}

.all-cities>div>div:last-child span sup {
    font-size: 1.1rem;
}

.all-cities>div:last-child {
    margin-bottom: 0;
}

.all-cities>button {
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
    background: #409ac7;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    transition: 0.5s;
}

.all-cities>button ion-icon {
    font-size: 1.2rem;
}

.all-cities>button:hover {
    background: transparent;
    border: 1px solid #fff;
}